.categories-page{
    width: 98%;
    margin: 0 auto;
    min-height: 700px;
}
.categories-page .title{
    font-size: 1.1rem;
}
.categories-page.dark .title{
    color: white;
}
.categories-page .category-list{
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: space-between;
    row-gap: 20px;
}
.categories-page .category-list .category-item{
    width: 175px;
    padding:15px 25px ;
    line-height: 25px;
    font-size: 1.1rem;
    background-color: rgb(243,244,246);
}
.categories-page.dark .category-list .category-item{ 
    background-color: rgb(71,85,105);
    
}
.categories-page .category-list .category-item p{
    margin: 0;
}
.categories-page.dark .category-list .category-item p{
   
    color: white;
}

.categories-page .category-list .category-item a{
    text-decoration: none;
    color: rgb(64,117,213);
}
.categories-page .category-list .category-item a:hover{
    text-decoration: underline;
}